* { margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
.body{
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.page{
    padding: 50px; 
}
.pro{
    margin: 0 auto;
    padding: 0;
    display: block;
}

.logo{
    outline: none;
    float: left;
    font-family: ﻿Roboto-Light, ﻿Roboto-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30pt;
    color: #555252;
    text-align: left;
    text-decoration: none;
}
.logo::first-letter {
    font-family: Roboto-Light, ﻿Roboto-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    color: #1abc9c;
    font-size: 50px;
  }
a{
    text-decoration: none;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: #515151;
    text-align: right;
    text-transform: uppercase;
  }
.menu{
    outline: none;
    float: right;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
li{
  margin: 10px;

}
.menu li{
    float: left;
    text-decoration: none;
    font-family: ﻿OpenSans-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(26, 188, 156, 255);
    text-align: right;
}
.catalog{
    width: 1200px;
    margin: auto;
    padding-bottom: 12px;
}
.item clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.list{
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 200 px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 110px 0;
    margin: 0 auto;
}
.item{
    width: 255px;
    height: 322px;
    float: left;
    margin: 0 auto;
    background: #e9f0fd;
    position:relative;
    padding-bottom:50px;
}
.item:not(:nth-child(4n)){
    margin-right: 50px;
}
.item:not(:nth-last-child(-n+4)){
    margin-bottom: 50px;
}
h2{
    font-family: Roboto-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30pt;
    color: rgba(81, 81, 81, 255);
    text-align: center;
}
.name{
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0px;
    float: left;
    width: 255px;
    background: #323232;
    font-family: ﻿Roboto-Black, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.price{
    display: block;
    float: right;
    background: #8c8c8c;
    width: 56px;
}
.price::before {
    margin-right: 10px;
    content: "\0024";
    color: rgb(245, 245, 245);
}
h2::after{
    content: "";
    display: block;
    margin: 0 auto;
    height: 6px;
    width: 166px;
    background-position: center;    
    background: #1abc9c;
}
.list1{
    list-style: none;
}
.article {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
}
.item1{
    width: 350px;
    height: 264px;
    float: left;
    margin: 0 auto;
    background: #e9f0fd;
    position:relative;
    padding-bottom:50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.text1{
    margin-top: 15px;
}
.btn {
    padding: 10px 60px;
    background-color: #4ec6ab;
    font-size: 24px;
    color: #ffffff;
    border: 1px solid #4ec6ab;
    border-radius: 4px;
}
.btn:hover {
    background-color:  #ff4081;
  }
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
h3{
    font-family: ﻿OpenSans-Semibold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(85, 82, 82, 255);
    text-align: left;
    margin-bottom: 28px;
}
h3::after{
    content: "";
    display: block;
    margin: 0 auto;
    height: 6px;
    width: 166px;
    float: left;;    
    background: #1abc9c;
}
p{
    font-family: ﻿OpenSans, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(85, 82, 82, 255);
    text-align: left;
    margin-bottom: 36px;
}
.text2{
    margin-top: 15px;
}
.name:hover{
background-color: #1abc9c;     
}